<!DOCTYPE html>
<html>
    <head>
        <title>Vigeland</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
        <meta name="theme-color" content="#FFF">
    </head>
    <body>
		<div class="content-container">
			<h1 id="header" class="header header--animated">
                Vigeland
            </h1>
		</div>
    </body>
</html>
